# weekly
weekly_forecast/img/
weekly_forecast/era5/*.grib
weekly_forecast/gridpoints/*.csv
weekly_forecast/raw_metdesk/*.json
weekly_forecast/raw_metdesk/*.csv
weekly_forecast/raw_meteomatics/*.csv
weekly_forecast/validation_weekly_forecast/

# heatwaves
heatwaves/heatwave_forecast_output/
heatwaves/ProvCM01012022/
heatwaves/capoluoghi_provincia_coordinate.csv
heatwaves/__pycache__/

# delfi
*.png
CLC_L1/
__pycache__/
brera_station/
data_dp/
data_era5/
data_fomd/
enricos_script/
failures/
forecast_moloch/
load/
*.jpg
observation_arpa/
observation_mistral/
output_maps/
outputs/
reports/
shapefiles/
slides/
storico_previsioni_meteo_prometeo.csv

